<div>
    <h1>Foo Bar (Static Data)</h1>
    <h3>Software Dev</h3>
    <p>1234 Main St, city, state</p>
    <div>
        <p>Phone:</p>
        <p>123-123-1234</p>
        <p>456-456-4567</p>
    </div>
</div>


<div>
    <h1>Foo Bar (using Object from ts file)</h1>
    <h3>{{user.name}}</h3>
    <p>{{user.address}}</p>
    <div>
        <p>Phone:</p>
        <p>{{user.phone[0]}}</p>
        <p>{{user.phone[1]}}</p>
    </div>
</div>

<div class="address-card">
    <h1>Foo Bar (using Object from ts file and Using FOR loop for phone array)</h1>
    <h1 class="name">{{user.name}}</h1>
    <h3 class="title">{{user.designation}}</h3>
    <button *ngIf="isCollapsed" (click)="toggleCollapse()">Expand</button>
    <button *ngIf="!isCollapsed" (click)="toggleCollapse()">Collapse</button>
    <div *ngIf="!isCollapsed">
        <p class class="address">{{user.address}}</p>
        <div class="phone" *ngIf="user.phone.length">
            <p>Phone:</p>
            <p *ngFor="let phoneNumber of user.phone">{{phoneNumber}}</p>
        </div>
    </div>
</div>
